@charset "utf-8";

/* 초기값css */
@import url(reset.css);

/* 헤더 푸터등 모든 화면에서 쓰일 css */
@import url(common.css);

/* 폰트css */
@import url(font.css);


* {
    font-family: 'Pretendard';
}

span {
    font-family: 'Pretendard';
}

body {
    
    overflow-y: hidden;
}

.main_visual {
    width: 100%;
    height: 100vh;
    background: url(../img/main_visual_bg.jpg) center center / cover no-repeat;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_visual::before {
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000008e;
    backdrop-filter: blur(2px);

}

.main_visual .main_text {
    max-width: 1660px;
    width: calc(100% - 40px);
    margin: 0 auto;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_visual .main_text h2 {
    font-size: 40px;
    line-height: 1.5;
}

.main_visual .main_text p {
    opacity: 0.6;
    font-size: 30px;
    line-height: 1.5;
    font-family: "pretendard";
}


.main_visual .center_img {
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}


.main_visual figure {
    width: 100%;
    height: 100%;
    border-top-right-radius: 3000px;
    border-top-left-radius: 3000px;
    overflow: hidden;
    box-shadow: 1px 1px 50px #3333333a;
    position: relative;
    cursor: pointer;
}

.main_visual figure::before {
    content: '';
    width: 100%;
    height: 100%;
    border-top-right-radius: 1000px;
    border-top-left-radius: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000aa;
    opacity: 0;
    transition: 0.5s;
}

.main_visual figure:hover::before {
    opacity: 1;
}

.main_visual figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.main_visual figure img:first-of-type {
    display: block;
}

.main_visual figure button {
    width: 200px;
    height: 80px;
    display: block;
    border: 2px solid #fff;
    color: white;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    cursor: pointer;
}

.main_visual figure:hover button {
    display: block;
}

.main_visual .paging {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.main_visual .paging span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 20px 0;
    cursor: pointer;
}

.main_visual .paging span.on {
    background-color: #b47953;
    transition: 0.5s;
}

.main_visual .scroll_ani {
    width: 5px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

@keyframes wheel {
    0% {
        transform: translate(-50%, 0);
    }

    60% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, 68px);
        opacity: 0;
    }
}

.main_visual .scroll_ani span {
    width: 2px;
    height: 100px;
    display: block;
    background-color: #ffffff60;
    margin: 0 auto;
    position: relative;
}

.main_visual .scroll_ani span strong {
    width: 2px;
    height: 30px;
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: wheel 3s infinite;
}

@keyframes wheeltext {
    0% {
        transform: rotateZ(90deg)translateX(0);
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: rotateZ(90deg)translateX(20px);
        opacity: 0;
    }
}

.main_visual .scroll_ani p {
    width: 70px;
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: -10px;
    transform: rotateZ(90deg);
    animation: wheeltext 3s infinite;
}

.title {
    text-align: center;
}

.title h3 {
    font-family: "Voyage";
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: bold;
}

.title span {
    font-size: 20px;
    color: #33333398;
}

.main_visual2 {
    width: 100%;
    height: 90vh;
    background-color: #b47953;
}

.main_visual2 .swiper {
    width: 100%;
    height: 100%;
}

.main_visual2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual2 .text {
    position: absolute;
    top: 50%;
    left: calc(50% + 80px);
    width: 1440px;
    transform: translate(-50%, -50%);
    color: #fff;
}

.main_visual2 h4 {
    font-size: 40px;
}

.main_visual2 h3 {
    font-size: 70px;
    margin: 20px 0 30px;
}

.main_visual2 p {
    font-size: 22px;
    margin-bottom: 10px;
}

.main_visual2 a {
    font-size: 14px;
    width: 155px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    margin-top: 50px;
}

.swiper-pagination-bullet,.swiper-pagination-bullet-active {
    width: 80px;
    height: 5px;
    border-radius: 0;
    background-color: white;
}

.cont01 {
    padding: 80px 0 75px;
    width: 100%;
    background-color: #f8f8f8;
}

.cont01>h3 {
    font-family: 'Pretendard';
    font-size: 70px;
    text-align: center;
    font-weight: 100;
}

.cont01 .cont01_menu {
    display: flex;
    justify-content: center;
    margin: 40px 0 60px 0;
}

.cont01 .cont01_menu li {
    margin: 0 25px;
    width: 220px;
    height: 50px;
    line-height: 50px;
    background-color: antiquewhite;
    font-size: 26px;
    text-align: center;
    cursor: pointer;
}

.cont01 .inner {
    width: 100%;
}

.cont01 .inner .list {
    max-width: 1440px;
    width: calc(100% - 30px);
    display: none;
    justify-content: center;
    margin: 0 auto;
}

.cont01 .inner .list.on {
    display: flex;
    align-items: center;
}

.cont01 .inner .list .item {
    width: calc(100% / 4 - 24px);
    margin: 0 24px;
}

.cont01 .inner .list .item a {
    width: 100%;
    display: block;
}

.cont01 .inner .list .item a figure {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.cont01 .inner .list .item a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont01 .inner .list .item a span {
    font-size: 15px;
    opacity: 0.5;
    margin: 10px 0;
    display: block;
    
}

.cont01 .inner .list .item a h4 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 20px;
    margin: 10px 0 20px;
}

.cont01 .inner .list .item a p {
    font-size: 15px;
    opacity: 0.8;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cont01 .inner .list .item a div {
    width: 100%;
    height: 1px;
    background-color: #333333;
    display: block;
    margin: 20px 0 15px 0;
}

.cont01 .inner .list .item a strong {
    font-size: 24px;
    font-weight: bold;
    display: block;
}

.banner {
    width: 1400px;
    height: 250px;
    margin: 120px auto;
    border-radius: 10px;
    overflow: hidden;
}

.banner a {
    width: 100%;
    height: 100%;
}

.cont02 {
    padding: 75px 0px;
    width: 100%;
    background-color: #fff5ee;
}

.cont02 .inner {
    max-width: 1440px;
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px auto;
}

.cont02 .inner .left {
    width: 586px;
    height: 654px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont02 .inner .left .line {
    width: 339px;
    height: 510px;
    border: 1px solid #333333;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 0;
}

.cont02 .inner .left .cont02_img figure {
    width: 450px;
    height: 550px;
    position: relative;
}

.cont02 .inner .left .cont02_img .btn {
    display: none;
}

.cont02 .inner .left .cont02_img:hover .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000070;
    font-weight: 100;
    font-size: 20px;
}

.cont02 .inner .left .cont02_img:hover .btn a {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    color: #fff;
}

.cont02 .inner .left .bg {
    width: 510px;
    height: 510px;
    background-color: #d5cec9;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.cont02 .right {
    width: 710px;
    height: 785px;
    position: relative;
}

.cont02 .right .right_inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

@keyframes rolling {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.cont02 .right>img {
    position: absolute;
    top: 0;
    left: 0;
    animation: rolling 30s infinite normal linear;
    object-fit: fill;
}

.cont02 .right .right_left,
.cont02 .right .right_center,
.cont02 .right .right_right {
    width: calc(100% / 3 - 20px);
}

.cont02 .right .right_left figure,
.cont02 .right .right_center figure,
.cont02 .right .right_right figure {
    position: relative;
}

.cont02 .right .right_left figure:hover::before,
.cont02 .right .right_center figure:hover::before,
.cont02 .right .right_right figure:hover::before{
    opacity: 0;
}

.cont02 .right .right_left figure::before,
.cont02 .right .right_center figure::before,
.cont02 .right .right_right figure::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #00000070;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.cont02 .right .right_left figure {
    width: 100%;
    height: 600px;
    display: block;
}

.cont02 .right .right_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont02 .right .right_center figure {
    width: 100%;
    height: 276px;
    display: block;
    margin: 20px 0;
}

.cont02 .right .right_right {
    display: flex;
    align-items: flex-end;
}

.cont02 .right .right_right figure {
    width: 100%;
    height: 600px;
    display: block;
}


.cont03 {
    width: 100%;
    color: white;
    display: flex;
}

.cont03 .left,
.cont03 .right {
    width: 50%;
    height: 100vh;
    transition: 0.7s;
}

.cont03 .left:hover {
    width: 70%;
}

.cont03 .left:hover~div{
    width: 30%;
}

.cont03 .right:hover {
    width: 70%;
}

.cont03 .right:hover~div{
    width: 30%;
}

.cont03 .left {
    background: rgb(42,32,20);
    background: linear-gradient(85deg, rgba(42,32,20,1) 0%, rgba(61,44,44,1) 23%, rgba(52,38,22,1) 43%, rgba(62,39,39,1) 63%, rgba(51,50,13,1) 80%, rgba(51,43,34,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont03 .left .title h3 {
    font-weight: bold;
    color: #bfb4a7;
}

.cont03 .left .title p {
    color: #f0ebe5;
    font-size: 70px;
    font-weight: 600;
    margin: 10px 0 43px;
}

.cont03 .left figure {
    width: 310px;
    height: 400px;
    margin: 0 auto;
}

.cont03 .left .price {
    width: 100%;
    text-align: center;
}

.cont03 .left .price del {
    font-size: 25px;
    opacity: 0.5;
    font-weight: bold;
    display: block;
    margin: 30px 0 10px;
}

.cont03 .left .price strong{
    font-size: 40px;
}

.cont03 .left .price strong p {
    font-size: 25px;
    color: #ff7373;
    opacity: 0.7;
    font-weight: bold;
    display: inline-block;
}

.cont03 .left a {
    width: 120px;
    height: 50px;
    border: 1px solid #fff;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-right: 15px;
    position: relative;
    font-weight: 100;
}

.cont03 .left a::before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(../img/다음.png) center center / cover no-repeat;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.cont03 .right {
    background: url(../img/cont03_bg.png) center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont03 .right div:nth-child(1) {
    margin-bottom: 115px;
}

.cont03 .right div:nth-child(1) p {
    font-family: 'Pretendard';
    margin-bottom: 30px;
    font-size: 45px;
    text-align: center;
    
}

.cont03 .right > div:nth-child(1) p:last-child {
    margin: 0;
}

.cont03 .right > div:nth-child(2) strong,
.cont03 .right > div:nth-child(2) p {
    font-size: 35px;
    text-align: center;
    display: block;
}

.cont03 .right > div:nth-child(2) p {
    font-family: 'Pretendard';
    margin: 11px 0 50px;
    font-weight: 200;
}

.cont03 .right > div:nth-child(2) p:last-child {
    margin: 11px 0 0;
}

.cont04 {
    width: 100%;
    padding: 75px 0;
    background-color: #faf5ef7c;
}

.cont04 .title h3 {
    margin-bottom: 20px;
}

.cont04 .cont04_menu {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.cont04 .cont04_menu li {
    width: 220px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px;
    background-color: antiquewhite;
    cursor: pointer;
    font-size: 26px;
}


.cont04 .list {
    max-width: 1200px;
    width: calc(100% - 30px);
    margin: 90px auto 0;
    justify-content: space-between;
    display: none;
}

.cont04 .list.on {
    display: flex;
}

.cont04 .list .item {
    width: 342px;
    text-align: center;
}

.cont04 .list .item:hover figure .note {
    opacity: 1;
}

.cont04 .list .item figure {
    width: 100%;
    height: 365px;
    position: relative;
}

.cont04 .list .item p {
    font-size: 25px;
    margin: 15px 0;
    font-weight: 400;
}

.cont04 .list .item > span {
    font-size: 18px;
    font-weight: 400;
    color: #333333ab;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cont04 .list .item .note {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: flex;
    transition: 0.5s;
}

.cont04 .list .item .note::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000070;
    z-index: -1;
}

.cont04 .list .item .note strong {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    display: block;
}

.cont04 .list .item .note span {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
    display: block;
    word-break: keep-all;
}

.cont05 {
    padding: 75px 0;
    position: relative;
    margin-bottom: 75px;
}

.cont05::before {
    content: '';
    width: 70%;
    height: 1px;
    background-color: #bfb4a7;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
    border-radius: 10px;
}

.cont05 .carouselTicker__item h4 {
    margin: 10px 0 20px;
    font-size: 16px;
}

.cont05 .carouselTicker__item p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}